<a href="https://colab.research.google.com/github/haru1489248/nlp-100-nock/blob/main/ch07/section_68.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 特徴量の重みの確認
学習したモデルの中で重みの高い特徴量と低い特徴量を確認する

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%run /content/drive/MyDrive/Colab\ Notebooks/section_65.ipynb

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
pred: [0]
proba: [[0.96614171 0.03385829]]
classes: [0 1]
               pred_negative  pred_positive
true_negative            334             94
true_positive             71            373

LogisticRegression では、二値分類と多クラス分類を同一のクラスで扱うため、係数 coef_ は常に
`(n_classes, n_features)` の形を持つ。
本課題は二値分類であるため、coef_ の形は (1, n_features) となり、
clf.coef_[0] とすることで各特徴量に対応する重みを取得した。

In [ ]:
coef = clf.coef_[0] # coefficient（係数）
print(coef)

[ 0.89578179  0.35787981 -0.64256694 ...  0.0898757  -1.8353861
  0.01924432]

学習した特徴ラベルのみを返す

In [ ]:
feature_names = vec.get_feature_names_out()
print(feature_names)

['!' '!?' '#' ... 'zwick' 'zzzzzzzzz' 'élan']

In [ ]:
df = pd.DataFrame({
    'feature': feature_names,
    'coef': coef
})
print(df)

         feature      coef
0              !  0.895782
1             !?  0.357880
2              # -0.642567
3              $ -1.037682
4              & -0.079817
...          ...       ...
14811     zoning -0.452001
14812       zoom  0.192571
14813      zwick  0.089876
14814  zzzzzzzzz -1.835386
14815       élan  0.019244

[14816 rows x 2 columns]

In [20]:
df.sort_values(by='coef', ascending=False).head(20).reset_index(drop=True) # reset_indexで行番号を振り直している

        feature      coef
0    refreshing  3.479837
1    remarkable  3.473988
2      powerful  3.254749
3     hilarious  3.191606
4     beautiful  3.008291
5     wonderful  2.995053
6         prose  2.932516
7      terrific  2.923951
8         treat  2.879891
9     appealing  2.863963
10    enjoyable  2.829664
11      charmer  2.781315
12      vividly  2.723359
13      likable  2.705685
14        solid  2.637734
15     charming  2.636098
16   impressive  2.615727
17     half-bad  2.587456
18  fascinating  2.587183
19   intriguing  2.557987

In [21]:
df.sort_values(by='coef', ascending=True).head(20).reset_index(drop=True) # reset_indexで行番号を振り直している

          feature      coef
0         lacking -4.357444
1           lacks -4.088263
2           worst -4.019129
3          devoid -3.706376
4            mess -3.698030
5         failure -3.643959
6          stupid -3.373302
7            bore -3.302295
8            flat -3.229071
9      depressing -3.217432
10          loses -3.216710
11          waste -3.193127
12           lack -3.078811
13      squanders -3.050587
14           none -3.024106
15         hardly -3.019194
16          lousy -3.014061
17           poor -3.013403
18      pointless -3.006266
19  unfortunately -2.968855

LogisticRegression では classes_ によってクラスの並び順が決まる。
二値分類の場合、coef_ は classes_[1] に分類する方向の重みを表す。
本モデルでは clf.classes_ = [0, 1] であり、classes_[1] = 1 が positive クラスであるため、
clf.coef_[0] は positive クラスに寄与する特徴量の重みである

In [23]:
clf.classes_[1]

np.int64(1)